.currencyLabel {
  display: block;
  margin-bottom: 5px;
}

.currencyInput {
  height: 55px;
  width: 100%;
  border: 1px solid var(--grey);
  border-radius: 6px;
  margin-bottom: 15px;
  font-size: 1rem;
  padding: 0 14px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.currencyInput:focus {
  outline: none;
  border-color: var(--blue);
}
