:root {
  --white: #ffffff;
  --blue: #38609b;
  --light-grey: #dddddd;
  --grey: #cccccc;
  --red: #ed4337;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}
