:root {
  --grey: #cccccc;
  --white: #ffffff;
  --blue: #38609b;
  --light-grey: #dddddd;
  --dark-grey: #333333;
  --darker-grey: #222222;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}
