.wrapper {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
}

.currencyLabel {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
}

.currencyInput {
  height: 40px;
  border: 1px solid var(--grey);
  border-radius: 6px;
  font-size: 1rem;
  padding: 0 14px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  min-width: 200px;
}

.currencyInput:focus {
  outline: none;
  border-color: var(--blue);
}
